---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Games">
  <div class="container">
    <div class="header">
      <span class="text-gradient">Games</span>
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
  }
  .header {
    margin: auto;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
  }
</style>
