<ul role="list" class="nav-list">
  <li class="nav-list-item">
    <a href="/"><h2>Home</h2></a>
  </li>
</ul>

<style>
  .nav-list {
    list-style: none;
  }

  .nav-list-item {
    color: red;
  }
</style>
