<div class="under-construction">
  <h2>🚧 under construction 🚧</h2>
  <img id="monkey" src="EngineerMonkey.webp" width="150px" />
</div>

<style>
  .under-construction {
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
    font-size: 20px;
    margin: auto;
    margin-top: 2.5rem;
    color: rgb(255, 249, 234);
    text-align: center;
  }

  #monkey {
    width: 150px;
    max-width: 200px;
    margin: auto;
  }
</style>
